.container-cadastro {
    width: 52.1875rem;
    height: 75vh;
}

.cadastro {
    padding: 1.5rem 3.375rem 0 3.375rem;
    border-radius: 0 3.125rem 3.125rem 0;
    background: rgba(142, 142, 142, 0.84);
    width: 100%;
}

h1 {
    font-size: 2rem;
}

label {
    display: block;
}

input,
select {
    width: 100%;
    border-radius: 1.25rem;
    background: #C7C7C7;
    border: none;
    color: #737373;
    padding: .5rem 1.4375rem;
}

form {
    margin-bottom: 1.875rem;
}

form div {
    width: 100%;
}

.info h2 {
    font-size: 1.125rem;
}


.info p {
    height: 5rem;
    background-color: #C7C7C7;
    color: #737373;
    font-size: 1rem;
    overflow-y: scroll;
    padding: .5rem;
}

.botao {
    margin: 1.25rem;
}

.btn {
    width: 45%;
    color: var(--font-color);
}

.btn-cadastrar{
    background-color: var(--primary-color);
}

.btn-cadastrar:hover{
    background-color:#0a0064;
}

.btn-otimizar{
    background-color: var(--secondary-color);
}

.btn-otimizar:hover{
    background-color: #73b192;
}

footer {
    position: fixed;

    bottom: 0;
    width: 100%;
}

@media (max-width: 1200px) {
    .info p {
        height: 8rem;
    }

    .container-cadastro {
        width: 40.1875rem;
    }
}

@media(max-width: 780px) {
    .info p {
        height: 6rem;
    }

    .container-cadastro {
        width: 30.1875rem;
    }
}

@media(max-width: 585px) {
    h1 {
        font-size: 1.7rem;
    }

    .info p {
        height: 5rem;
    }

    .container-cadastro {
        width: 20.1875rem;
    }
}

.alerta {
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.show {
    display: block;
    animation: fadeInOut 3s ease-out;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}