* {
    font-size: 16px;
    color: var(--font-color);
}

h1 {
    font-size: 3rem;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.25rem;
}

.link-header {
    color: var(--font-color);
    font-size: 1.25rem;
    font-weight: 600;
}

.navbar-toggler {
    display: none;
    padding: 4px 8px;
}

.container-bkg {
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .35)100%), url('../assets/backgroud.png');
    height: 100vh;
    background-size: cover;
    background-position: bottom;
}

.container-home {
    display: flex;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
}

.container-home-info {
    width: 34rem;
    height: 25.875rem;
    border-radius: 1.25rem;
    padding: 2rem;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .35)100%)
}

.container-home-info p{
    font-weight: 400;
}

.servico, .saiba-mais{
    margin-top: 4.5rem;
    width: 12.1875rem;
    color: var(--font-color);
}

.servico{
    background-color: var(--primary-color);
}

.servico:hover{
    background-color:#0a0064;
}

.saiba-mais{
    background-color: var(--secondary-color);
}

.saiba-mais:hover{
    background-color: #73b192;
}

.sobre{
    background: rgba(0, 0, 0, 0.40);
}

.container-sobre{
    padding-bottom: 8rem;
    padding-top: 8rem;
}

.container-sobre p{
    padding: 0 10%;
}




@media(max-width: 585px) {
    header .link-header {
        display: none;
    }

    .navbar-toggler {
        display: block;
    }

    .container-home-maps {
        display: none;
    }
}